bubbles {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

bubble {
  transition: all 0.6s ease-out, saturation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50%;
  display: block;
  opacity :0.8;
  position: absolute;
  background-image: url('/demo/bubbles/bubble.jpg');
  background-size: cover;
}