:root, :host {
  background-color: black;
  --margin-size: 40px;
}

body {
  border: 1px solid black;
  font: menu;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  background: url('./background.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1
}

apps {
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 2;
}

app {
  --margin: 160px;
  --padding: 0px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: var(--padding);
  flex: 1 1 50%;
  height: calc(50vw - 2 * var(--padding) - 1.5 * var(--margin));
  width: calc(50vw);
  overflow-y: scroll;
  margin: var(--margin);
}

app:nth-child(even) {
  margin-left: 0;
}


/* navigation */

#navigation span {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

#navigation a {
  display: block;
  cursor: pointer;
  margin-top: 5px;
}

#navigation a:before {
  content: '- ';
}

/* bubbles */

#bubbles {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

bubbles {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

bubble {
  transition: all 0.6s ease-out, saturation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50%;
  display: block;
  opacity :0.8;
  position: absolute;
  background-image: url('/demo/bubbles/bubble.jpg');
  background-size: cover;
}
