body {
  border: 1px solid black;
  border-radius: 6px;
  font: menu;
  font-size: 12pt;
  padding: 20px;
  margin: 20px;
}

span {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

a {
  display: block;
  cursor: pointer;
  margin-top: 5px;
}

a:before {
  content: '- ';
}